*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body
{
    background-color: #F0F0F0;
    font-family: 'League Spartan', sans-serif;
}

#wrapper
{
    display: inline-flex;
    width: 100%;
}

/* Header Start*/

.header
{
    background-color: white;
    overflow: hidden;
    padding: 0px 20px;
    height: 90px;
    border-bottom: 2px solid #219E23;
}

.header h1
{
    color: black;
    float: left;
    margin: 35px 50px;
}

.header-right
{
    float: right;
    padding-top: 5px;
    margin: 35px;
}

.header-right a
{
    font-size: 20px;
    text-decoration: none;
    padding: 33px 22px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.header-right a:hover
{
    color:#219E23;
}

/*
.header-right a.active
{
    text-decoration: underline solid 3px #EE5A26;
}*/
/* Header End*/



/* Intro Start*/
.intro
{
    position: relative;
    background-color: white;
    height: 600px;
    background-image: url("index_spot.svg");
}

.center
{
    position:absolute;
    top: 20%;
    left: 15%;
}

.center h1
{
    font-size: 4em;
}

.center h2
{
    font-size: 3.5em;
    color:#EE5A26;
    padding: 35px 0px;
}

.center h3
{
    padding: 15px 0;
    font-size: 3em;
    color: #219E23;
}
/* Intro End*/

/*project card start*/
.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    height: 300px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    background-color: white;
}

.card img
{
    float: left;
    width: 45%;
    height: 100%;
    margin-right: 45px;
}

.card h1
{
    margin-bottom: 10px;
}

.card h5
{
    color:#219E23;
    padding: 25px;
    font-size: 1.1em;
}

.card p
{
    margin-right: 45px;
    color: gray;
    padding: 8px;
    font-size: 1.1em;
}

.card button
{
    margin: 50px;
    padding: 9px 18px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}

.card button:hover
{
    background-color: #219E23;
}

.card a
{
    color: white;
    text-decoration: none;
}

.card a:visited
{
    color: white;
    
}


/*project card end*/


.about
{
    height: 300px;
    margin-top: 60px;
    background-color: #F9F9F9;
    padding: 30px;
}

.about h2
{
    margin-top: 50px;
    margin-left: 15%;
    font-size: 3em;
    color:#219E23;
}

.about p
{
    margin-left: 15%;
    font-size: 1.5em;
    padding: 30px;
}

.about a
{
    color:#EE5A26;
}

iframe
{
    margin: 10px 40px;
}


.footer
{
    margin-top: 0px;
    border-top: 3px solid #219E23;
    text-align: center;
    font-size: 0.9em;
    padding: 13px;   
    background-image: url("index_spot.svg"); 
}


/*Work page detail*/
.detail-wrap, .about-wrap
{
    margin: 0 15%;
}

.detail-wrap h1
{
    margin-top: 50px;
    font-size: 40px;
}

.detail-wrap h2
{
    font-size: 25px;
    margin: 30px 0;
    padding-top: 35px;
}

.detail-wrap h3
{
    font-size: 22px;
    margin-top: -25px;
    color: #219E23;
}

.detail-wrap h4
{
    font-size: 20px;
    padding: 4px 20px;
    font-weight: bold;
}

.detail-wrap h5
{
    font-size: 22px;
    color:#219E23;
    margin-top: 10px;
}

.detail-wrap p, .detail-wrap h6
{
    width: 75%;
    margin: 30px 0px;
    font-size: 22px;
    line-height: 25px;
    color: #4F4F4F;
}

.detail-wrap h6
{
    width:auto;
    font-weight: normal;
}

.detail-wrap a
{
    font-size: 20px;
    text-decoration: none;
    color: #219E23;
}

.detail-wrap a:active
{
    color:#273B46;
}

.detail-wrap a:hover
{
    color:#273B46;
}



.detail-wrap img
{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.detail-wrap span
{
    color:#219E23;
}

.detail-wrap li
{
    padding: 5px;
    font-size: 20px;
    line-height: 25px;
    margin-left: 15px;
}





.about-wrapLeft
{
    width: 60%;
    float: left;
}

.about-wrapRight
{
    float: right;
    width: 40%;
}
.about-wrap h1
{
    font-size: 32px;
    color:#219E23;
    padding: 12px;
}

.about-wrap h2
{
    font-size: 28px;
    color:#EE5A26;
    padding: 12px;
}

.about-wrap h3
{
    font-size: 25px;
    padding: 12px;
}

.about-wrap span
{
    color:#EE5A26;
}

.about-wrap img
{
    float: right;
    width: 100%;
}

.feature
{
    display: flex;
    flex-direction: row-reverse;
    background-color: #E4DFD4;
}

.featureimg
{
    width: 50%;
}

.featurelist
{
    flex:1;
}

.featurelist h3
{
    margin: 15%;
    margin-bottom: 15px;
    color: #219E23;
    font-size: 28px;
}

.featurelist li
{
    margin: 15px 20%;
    font-size: 22px;
    color: black;
}


.bg
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg img
{
    height: 100%;
    width: 100%;
}

.bg h1
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.row
{
    display: flex;
}

.column
{
    float: left;
    flex: 25%;
    padding: 10px;
    margin-bottom: 50px;
    height: 200px;
    border-top: 1px solid #219E23;
    border-bottom: 1px solid #219E23;
}

.column h5
{
    color: black;
    font-size: 20px;
    margin: 13px 0px;
}

.column p
{
    color: #4F4F4F;
    font-size: 18px;
    margin: 0;
}

.white
{
    background-color: white;
    margin: 0;
    padding-bottom: 50px;
}

.red
{
    background-color: #EE5A26;
    height: 40%;
}

.red h1
{
    text-align: center;
    color: white;
    margin-top: 150px;
    bottom: 0;
}

.red h2
{
    text-align: center;
    color: white;
    font-size: 30px;
}

.red h6
{
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 45px;
    width: 85%;
    margin: auto 50px;
}


/*slideshow*/
.slidshow
{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next
{
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin: 0;
    font-weight: bold;
    font-size: 8px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: black;
}

.next 
{
    right: 0;
    border-radius: 5px 0 0 5px;
}


.prev:hover, .next:hover 
{
    color: white;
    background-color: #219E23;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }


/* Worktab Start*/
.worktab
{
    background-color:#219E23;
    color:white;
    float: left;
    border: none;
    border-left: 1px solid #B3FF5A;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    width: 25%;
    font-weight: bold;
}

.worktab:hover
{
    background-color: #E0F3E0;
    color: black;
}

.worktabcontent
{
    display:none;
    color:black;
    padding: 100px;
    height: 600px;
}

.img-left
{
    float: left;
    width: 65%;
    margin: 20px;
}

.img-left img
{
    width: 80%;
    max-width: 1000px;
    height: 600px;
}

.img-right
{
    float: right;
    width: 65%;
    margin: 20px;
}

.img-right img
{
    float: right;
    width: 80%;
    max-width: 1000px;
    height: 600px;
}

.content-left
{
    position:absolute;
    left: 65%;
    margin-top: 200px;
}

.content-right
{
    position:absolute;
    right: 65%;
    margin-top: 200px;
}

.content-left h1, .content-right h1
{
    font-size: 50px;
    margin: 15px;
}

.content-left p, .content-right p
{
    font-size: 25px;
    margin: 15px;
}

.content-left a, .content-right a
{
    font-size: 18px;
    margin: 15px;
    color: white;
}

.content-left a:hover, .content-right a:hover
{
    font-weight: bold;
    font-size: 20px;
}

#work1
{
    background-color: #324336;
    color: white;
}

#work2
{
    background-color: #6FA2A0;
    color:white;
}

#work3
{
    background-color: #273B46;
    color: white;
}

#work4
{
    background-color: #8799A6;
    color:white;
}
/* Worktab End*/

#topBtn
{
    position: fixed;
    bottom: 55px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #219E23;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
}

#topBtn:hover
{
    background-color: #EE5A26;
    color: white;
}