*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body
{
    background-color: White;
    font-family: 'League Spartan', sans-serif;
}

#wrapper
{
    display: inline-flex;
    width: 100%;
}

/* Header Start*/

.header
{
    background-color: #219E23;
    overflow: hidden;
    padding: 13px 0px;
}

.header h1
{
    color: white;
    float: left;
    margin: 0px 50px;
}

.header-right
{
    float: right;
    padding-top: 5px;
}

.header-right a
{
    font-size: 20px;
    text-decoration: none;
    padding: 33px 22px;
    text-align: center;
    color: White;
    font-weight: bold;
}

.header-right a:hover
{
    background-color: #E0F3E0;
    color:black;
}

.header-right a.active
{
    text-decoration: underline solid 3px #B3FF5A;
}
/* Header End*/



/* Intro Start*/
.intro
{
    position: relative;
    background-color: white;
    height: 600px;
}

.center
{
    position:absolute;
    top: 20%;
    left: 15%;
}

.center h1
{
    font-size: 4em;
}

.center h2
{
    font-size: 3.5em;
    color:#EE5A26;
    padding: 35px 0px;
}

.center h3
{
    padding: 15px 0;
    font-size: 3em;
    color: #219E23;
}
/* Intro End*/

/* Worktab Start*/
.worktab
{
    background-color:#219E23;
    color:white;
    float: left;
    border: none;
    border-left: 1px solid #B3FF5A;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    width: 25%;
    font-weight: bold;
}

.worktab:hover
{
    background-color: #E0F3E0;
    color: black;
}

.worktabcontent
{
    display:none;
    color:black;
    padding: 100px;
    height: 600px;
}

.content-left
{
    position:absolute;
    left: 65%;
    margin-top: 200px;
}

.content-right
{
    position:absolute;
    right: 65%;
    margin-top: 200px;
}

.content-left h1, .content-right h1
{
    font-size: 50px;
    margin: 15px;
}

.content-left p, .content-right p
{
    font-size: 25px;
    margin: 15px;
}
/* Worktab End*/

.about
{
    height: 400px;
}

.about h2
{
    margin-top: 50px;
    margin-left: 15%;
    font-size: 3em;
    color:#219E23;
    text-decoration: underline dashed 2px #B3FF5A;
}

.about p
{
    margin-left: 15%;
    font-size: 1.5em;
    padding: 30px;
}

iframe
{
    margin: 10px 40px;
}


.footer
{
    margin-top: 10px;;
    border-top: 3px solid #219E23;
    text-align: center;
    font-size: 0.9em;
    padding: 13px;    
}

#work1
{
    background-color: #324336;
    color: white;
}

#work2
{
    background-color: #6FA2A0;
    color:white;
}

#work3
{
    background-color: #273B46;
    color: white;
}

#work4
{
    background-color: #8799A6;
    color:white;
}