*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #CFD1D2;
    font-family: 'Source Sans Pro', sans-serif;
}

#wrapper
{
    display: inline-flex;
    width: 100%;
}

.header
{
    background-color: #3E4550;
    height: 100px;
    border-bottom: 3px solid #0C54A0;
}

.header h1
{
    color: #FBFBFB;
    text-align: left;
    padding: 15px;
}

.header h3
{
    color: #FBFBFB;
    text-align: center;
    text-align: left;
    padding-left: 20px;
}

.left
{
    width: 75%;
}

.left h2
{
    color: #3E4550;
    margin: 20px;
    border-bottom: 1.5px solid #0C54A0;
    font-size: 1.6em;
}

.left h3
{
    color: #3E4550;
    margin: 0px 40px;
    font-size: 1.4em;
    font-style: bold;
}

.left h4
{
    color: #3E4550;
    margin: 0px 40px;
}

.left h5
{
    color: #3E4550;
    margin: 5px;
}

.left p
{
    color: #3E4550;
    margin: 0px 40px;
    font-size: 1.2em;
}

.left li
{
    color: #3E4550;
    margin: 0px 60px;
}

.left img
{
    width: 80%;
    margin: 10px 10%;
}

.right
{
    width: 25%;
    right:0;
    background-color: #a6abaf;
    padding: 5px;
}

.right h2
{
    color: #3E4550;
    margin: 20px;
    border-bottom: 1.5px solid #0C54A0;
    font-size: 1.5em;
}

.right h3
{
    color: #3E4550;
    margin: 10px 20px 0px;
    font-size: 1.1em;
    font-style: bold;
}

.right p
{
    color: #3E4550;
    margin: 0px 20px;
    font-size: 1em;
}

.right li
{
    color: #3E4550;
    margin: 0px 40px;
}

a:link
{
    color: #3E4550;
}

a:hover
{
    color: #0C54A0;
}

a:visited
{
    color: black;
}

.nav
{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #3E4550;
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    margin: 0;
}

.nav ul
{
    list-style-type: none;
    overflow: hidden;
}

.nav li
{
    float: left;
}

.nav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.nav li a:hover
{
    background-color: #0C54A0;
}

iframe
{
    margin: 10px 40px;
}


.footer
{
    margin-top: 10px;;
    border-top: 3px solid #0C54A0;
    text-align: center;
    font-size: 0.9em;
}